* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kanit", sans-serif;
  background-color: gray;
  color: #333333;
}
/* ==================================================== */
/* Header */
/* ==================================================== */
.site-header {
  background-color: #fff;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.site-title {
  font-size: 1.37rem;
  font-weight: 700;
}
.sit-subtitle {
  font-size: 0.875rem;
  color: gray;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
.social-icons a {
  font-size: 1rem;
  color: #555;
  font-weight: 600;
  border: solid #555;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: all 0.5s ease;
}
.social-icons a:hover {
  background-color: rgb(81, 191, 255);
  color: #fff;
  border-color: rgb(38, 111, 160);
  transform: translateY(-5px);
}
/* ==================================================== */
/* navbar */
/* ==================================================== */
.nav-menu {
  display: flex;
  list-style: none;
}
.main-nav {
  background-color: rgb(98, 184, 224);
}
.nav-menu li a {
  color: #fff;
  font-size: 0.9rem;
  display: block;
  padding: 12px 20px;
}
.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: rgb(65, 119, 155);
}
/* ==================================================== */
/* Hero  section */
/* ==================================================== */
.hero-content {
  background-color: rgb(143, 176, 207);
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 14px #3978ca;
}
.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));

  /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
}
.hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}
.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}
.hero-title {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 2px 4px #070844;
  text-align: center;
  margin-bottom: 20px;
}
